@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins&family=Roboto:wght@300&display=swap');
*{
margin:0;   
padding:0;
box-sizing:border-box;
}  

body{
background:#A9C4CD;   
font-family: 'poppins', sans-serif;
}

.container{
height:440px;    
width:330px;
background:#535A74;
border-radius:5px;
overflow:hidden;
border-radius:10px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.bill_amount_div,.check_split_div,.tip_amount_div,.result-div{
height:80px;   
width:100%;
position:relative;
top:-10px;
margin-top:15px;
}

.bill_amount_div > span{
color:white;
float:right;
font-size:30px;
position:relative; 
top:20px;
left:30px;
}

.tip_amount_div{
height:130px;       
}

label{
color:white;  
font-size:15px;
position:absolute;
top:50%;
left:20%;
transform:translate(-50%,-50%);
}

.bill_amount_div > input{
all:unset;   
float:right;
position:relative;
top:20px;
height:45px;
color:white;
text-align:right;
font-size:30px;
width:70px;
margin-right:20px;
padding-left:30px;
}

::placeholder{
color:white;     
}

.check_split{
height:60px; 
width:150px;
float:right;
position:relative;
top:10px;
}

.check_split > div{
height:40px; 
width:40px;
color:black;  
background:white;
padding:5px;
text-align:center;
border-radius:100%;
font-size:20px;
cursor:pointer;
}

.check_split > span{
font-size:25px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
}

.plus-btn,.minus-btn{
position:absolute;
top:50%;
right:-10px;
transform:translate(-50%,-50%);
}

.minus-btn{
left:30px;       
}

.tip_amount_div > label{
top:25%;       
}

.tip_amount_percentage,.tip_amount_value{
color:white;
font-size:30px;
position:absolute;
top:25%;
right:-10px;
transform:translate(-50%, -50%);
}

.tip_amount_value{
color:lightgray; 
font-size:20px;       
top:50%;
}

.tip_amount_div > input{
-webkit-appearance:none;
height:10px;
width:300px;
border-radius:5px;
background:white;
position:absolute;
top:85%;
left:50%;
transform:translate(-50%,-50%);
cursor:pointer;
}

.tip_amount_div > input::-webkit-slider-thumb{
-webkit-appearance:none;
height:25px;
width:25px;
background:white;
border-radius:100%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.result-div{
background:#C59E9F;
height:100px;
}

.tip_per_person,.total_per_person{
height:100px;   
width:50%;
float:left;
border-left:1px solid white;
}

.tip_per_person{
border:none;      
}

.tip_per_person > span,.total_per_person > span{
color:white; 
position:relative;
top:10px;
left:15%;
transform:translate(-50%,-50%);
font-size:17px;
}

.tpp_value,.total_amount{
font-size:35px;
position:relative;
top:10px;
left:15%;
color:white;
}

.total_amount{
position:relative;  
top:0;
left:27%;
}

.total_amount_div{
height:50px;
width:100%;
position:relative;
top:10px;
text-align:none;
}

.total_amount_div > h3{
 font-size:35px;   
 position:absolute;
 top:0;
 left:20px;
 color:white;
}

::selection{
color:#535A74;   
background:white;
}
